            <nrcl-application-header
                [title]="title"
                [homeUrl]="homeUrl"
                [skipLinksEnabled]="skipLinksEnabled"
                [skipLinkTarget]="skipLinkTarget"
                [skipLinkLabel]="skipLinkLabel"
                logoSrc="assets/BCWS_H1_rgb_pos.png"
                logoAlt="BC Wildfire Service logo"
                logoLinkAriaLabel="BC Wildfire Service home"
                [showMenu]="showMenu"
                [menuTitle]="menuTitle"
            >
            </nrcl-application-header>