<header class="bcds-header">
  <div class="bcds-header--container">
    <div class="header-brand">
        <a routerLink="/" class="logo-link"
            aria-label="BC Wildfire Service Home"
            (keydown.space)="navigateHome($event)">
            <img src="assets/BCWS_H1_rgb_pos.png"
                alt="BC Wildfire Service's logo"
                class="bcgov-logo"/>
        </a>
        <div class="bcds-header--line"></div>
        <h1 class="bcds-header--title">
        Wildfire DataMart
        </h1>
    </div>

    <div class="menu-container">
        <nrcl-button
            (click)="toggleMenu()"
            aria-label="Menu"
            [attr.aria-expanded]="menuOpen">
            Menu ☰
        </nrcl-button>
        <app-menu
            [open]="menuOpen">
        </app-menu>
    </div>
  </div>
</header>