.bcds-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #cfcfcf;
  padding: 0 1rem;
}

.bcds-header--container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.bcds-header--title {
  flex-grow: 1;
  margin: 0;

  font-size: 1.5rem;
  font-weight: 700;
  color: #313132;
}

.bcgov-logo {
  width: 129px;
  min-width: 129px;
  height: auto;
}

.bcds-header--line {
  width: 1px;
  height: 32px;
  background-color: #cfcdcb;
  flex-shrink: 0;
}


.header-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.menu-container {
  position: relative;
}