:host {
    display: block;
}

p {
    margin: 0;

    color: #2d2d2d;

    font-family: 'BC Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}