<section class="station-selection-filters">
    <div class="filter-toolbar">
        <button
            type="button"
            class="filters-toggle-button"
            (click)="toggleFilters()">

           <span>
                Filters{{ activeFilterCount ? ' (' + activeFilterCount + ')' : '' }}
            </span>

            <nrcl-icon>
                {{ filtersExpanded ? 'expand_less' : 'expand_more' }}
            </nrcl-icon>
        </button>

        <nrcl-filter-search
            placeholder="Search stations">
        </nrcl-filter-search>
    </div>

    @if (filtersExpanded) {
        <div class="filters-outer-container">
            <div class="filters-inner-container">
                <nrcl-filters-panel class="filters-panel" [showClear]="false">
                    <nrcl-filter-select
                        label="Fire Centre">
                    </nrcl-filter-select>

                    <nrcl-filter-select
                        label="Fire Zone">
                    </nrcl-filter-select>

                    <nrcl-filter-container label="Elevation (m)">
                        <div class="elevation-content">
                            <input
                                type="number"
                                placeholder="Min"
                                [(ngModel)]="elevationMin"
                                (blur)="applyFilters()"
                                (keydown.enter)="applyFilters()">

                            <span>-</span>

                            <input
                                type="number"
                                placeholder="Max"
                                [(ngModel)]="elevationMax"
                                (blur)="applyFilters()"
                                (keydown.enter)="applyFilters()">
                        </div>
                    </nrcl-filter-container>

                    <nrcl-filter-container label="Latitude">
                        <div class="coordinate-content">
                            <input
                                type="number"
                                [(ngModel)]="latitudeValue"
                                (blur)="applyFilters()"
                                (keydown.enter)="applyFilters()">

                            <select
                                [(ngModel)]="latitudeOperator"
                                (change)="applyFilters()">

                                <option value="eq">=</option>
                                <option value="gt">&gt;</option>
                                <option value="lt">&lt;</option>
                            </select>
                        </div>
                    </nrcl-filter-container>

                    <nrcl-filter-container label="Longitude">
                        <div class="coordinate-content">
                            <input
                                type="number"
                                [(ngModel)]="longitudeValue"
                                (blur)="applyFilters()"
                                (keydown.enter)="applyFilters()">

                            <select
                                [(ngModel)]="longitudeOperator"
                                (change)="applyFilters()">

                                <option value="eq">=</option>
                                <option value="gt">&gt;</option>
                                <option value="lt">&lt;</option>
                            </select>
                        </div>
                    </nrcl-filter-container>
                </nrcl-filters-panel>

                <div class="filter-actions">
                    <nrcl-button primary>
                        Apply filters
                    </nrcl-button>

                    <button type="button"
                        class="clear-filters-button"
                        (click)="clearFilters()">
                        Clear filters
                    </button>
                </div>
            </div>
        </div>
    }
</section>