.station-selection-content {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 16px;

    margin-top: 16px;
}

@media (max-width: 992px) {
    .station-selection-content {
        grid-template-columns: 1fr;
    }
}