:host {
    display: block;
    flex: 1;
    min-height: 0;
}

.station-selection-content {
    display: grid;

    grid-template-columns: 400px 1fr;

    height: 100%;

    gap: 16px;

    min-height: 0;
    overflow: hidden;
}

@media (max-width: 992px) {
    .station-selection-content {
        grid-template-columns: 1fr;
    }
}