.data-download-page {
    height: 100%;
    padding: 32px;

    box-sizing: border-box;
}

.data-download-page__container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.data-download-page__title {
    margin: 0 0 8px;
}

.data-download-page__subtitle {
    margin: 0 0 24px;
}

/* make width obvious while testing */
::ng-deep .mat-column-stationName {
    min-width: 300px;
}

::ng-deep .mat-column-stationCode {
    min-width: 150px;
}

::ng-deep .mat-column-status {
    min-width: 150px;
}