<section class="download-data-header">

    <div class="header-container">

        <div class="header-content">

            <div class="header-text">
                <h1>Select weather stations</h1>

                <p>
                    Choose one or more stations to view weather data.
                </p>
            </div>

            <div class="header-actions">

                <button
                    type="button"
                    class="selected-stations-button">

                    <span class="selected-stations-text">
                        0 stations selected
                    </span>

                    <nrcl-icon>
                        chevron_right
                    </nrcl-icon>

                </button>

                <nrcl-button primary>
                    <span class="view-data-content">
                        View data

                        <nrcl-icon>
                            arrow_forward
                        </nrcl-icon>
                    </span>
                </nrcl-button>

            </div>

        </div>

    </div>

</section>