/* components/home/home.component.scss */

$color-datamart-hero-background: #002e4f;

.page-container {
    padding: 24px;
}

.hero {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    display: flex;
    min-height: 250px;
    padding: 0 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    background-color: $color-datamart-hero-background;
    color: white;
}



.hero h1 {
    margin: 0;
}

.hero p {
    margin: 0;
    max-width: 900px;
}

@media (max-width: 768px) {
  .hero {
    padding: 24px;
  }
}


.card-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 24px;

    padding: 48px;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}