@if (station) {

    <div class="station-information-panel">

        <div class="station-information-panel__title-row">

            <span class="station-information-panel__title">
                Weather Station
            </span>

            <nrcl-icon>
                info
            </nrcl-icon>

        </div>

        <div class="station-information-panel__divider"></div>

        <h3 class="station-information-panel__station-name">
            {{ display(station.STATION_NAME) }}
        </h3>

        <div class="station-information-panel__content">

            <div class="station-information-panel__row station-information-panel__row--status">

                <span class="station-information-panel__row-label">
                    Status:
                </span>

                <nrcl-indicator
                    [large]="false"
                    [status]="indicatorClass">

                    {{ station.STATION_STATUS_CODE }}

                </nrcl-indicator>

            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Station Code:</span>
                <span class="station-information-panel__row-value">{{ display(station.STATION_CODE) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Station Acronym:</span>
                <span class="station-information-panel__row-value">{{ display(station.STATION_ACRONYM) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Fire Centre:</span>
                <span class="station-information-panel__row-value">{{ display(station.FIRE_CENTRE_ORG_UNIT_IDENT) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Fire Zone:</span>
                <span class="station-information-panel__row-value">{{ display(station.ZONE_ORG_UNIT_IDENTIFIER) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Latitude:</span>
                <span class="station-information-panel__row-value">{{ display(station.LATITUDE) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Longitude:</span>
                <span class="station-information-panel__row-value">{{ display(station.LONGITUDE) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Elevation:</span>
                <span class="station-information-panel__row-value">{{ display(station.ELEVATION_M) }} m</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Slope:</span>
                <span class="station-information-panel__row-value">{{ display(station.INFLUENCING_SLOPE) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Aspect:</span>
                <span class="station-information-panel__row-value">{{ display(station.INFLUENCING_ASPECT_DESC) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Windspeed Height:</span>
                <span class="station-information-panel__row-value">{{ display(station.WINDSPEED_ADJUSTMENT_HEIGHT) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Adjusted Roughness:</span>
                <span class="station-information-panel__row-value">{{ display(station.WINDSPEED_ADJUSTMENT_ROUGHNESS) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Overwinter Precipitation:</span>
                <span class="station-information-panel__row-value">{{ display(station.OVER_WINTER_PRECIP_ADJ_IND) }}</span>
            </div>

            <div class="station-information-panel__row">
                <span class="station-information-panel__row-label">Install Date:</span>
                <span class="station-information-panel__row-value">{{ installationDate }}</span>
            </div>

        </div>

        <div class="station-information-panel__actions">

            <nrcl-button
                primary
                label="Select Station">
            </nrcl-button>

        </div>

    </div>

}
