<section class="station-selection-header">

    <div class="header-container">

        <div class="header-content">

            <div class="header-text">

                <h1>
                    Select weather stations
                </h1>

                <p>
                    Choose one or more stations to view weather data.
                </p>

            </div>

            <div class="header-actions">

                <button type="button" class="selected-stations-button"
                    (click)="viewSelectedStations()">

                    <span class="selected-stations-text">
                        {{ selectedCount }}
                        {{ selectedCount === 1 ? 'station' : 'stations' }}
                        selected
                    </span>

                    <nrcl-icon>
                        chevron_right
                    </nrcl-icon>

                </button>

                <nrcl-button primary
                    (click)="viewData()">

                    <span class="view-data-content">
                        View data

                        <nrcl-icon>
                            arrow_forward
                        </nrcl-icon>
                    </span>

                </nrcl-button>

            </div>

        </div>

    </div>

</section>

<ng-template #noStationsSelectedDialog>

    <p class="dialog-message">
        To view data, select at least one weather station from the map or list.
    </p>

</ng-template>

<ng-template #emptySelectedStationsDialog>

    <p class="dialog-message">
        Select stations from the map or station list.
        Your selections will appear here.
    </p>

</ng-template>

<ng-template #selectedStationsDialog>

    <div class="selected-stations-dialog">

        <div class="selected-stations-header">

            <h3>
                {{ selectedCount }}
                {{ selectedCount === 1 ? 'Station' : 'Stations' }}
                Selected
            </h3>

            <button
                type="button"
                class="remove-action"
                (click)="clearSelectedStations()">

                Remove all

            </button>

        </div>

        <nrcl-row-list-desktop>

            <table mat-table [dataSource]="selectedStations | paginate: {
                    id: 'selected-stations',
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: selectedCount
            }">

            <ng-container matColumnDef="stationName">
                <mat-header-cell *matHeaderCellDef>
                    Station Name
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.STATION_NAME }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="stationCode">
                <mat-header-cell *matHeaderCellDef>
                    Station Code
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.STATION_CODE }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="stationAcronym">
                <mat-header-cell *matHeaderCellDef>
                    Station Acronym
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.STATION_ACRONYM }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fireCentre">
                <mat-header-cell *matHeaderCellDef>
                    Fire Centre
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.FIRE_CENTRE_ORG_UNIT_IDENT }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fireZone">
                <mat-header-cell *matHeaderCellDef>
                    Fire Zone
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.ZONE_ORG_UNIT_IDENTIFIER }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="latitude">
                <mat-header-cell *matHeaderCellDef>
                    Latitude
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.LATITUDE }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="longitude">
                <mat-header-cell *matHeaderCellDef>
                    Longitude
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.LONGITUDE }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="elevation">
                <mat-header-cell *matHeaderCellDef>
                    Elevation (m)
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.ELEVATION_M }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>
                    Status
                </mat-header-cell>

                <mat-cell *matCellDef="let station">
                    {{ station.STATION_STATUS_DESC }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="remove">
                <mat-header-cell *matHeaderCellDef aria-label="Actions">
                    
                </mat-header-cell>

                <mat-cell *matCellDef="let station">

                    <button
                        type="button"
                        class="remove-action"
                        (click)="removeStation(station)">

                        Remove

                    </button>

                </mat-cell>
            </ng-container>

            <mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true">
            </mat-header-row>

            <mat-row
                *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

            </table>

        </nrcl-row-list-desktop>

        <nrcl-gap vertical></nrcl-gap>

        <nrcl-row-list-pagination
            paginationId="selected-stations"
            [pageSize]="pageSize"
            [pageNumber]="pageNumber"
            [rowCount]="selectedCount"
            (pageNumberChange)="onPageNumberChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
        </nrcl-row-list-pagination>

    </div>

</ng-template>