<footer class="footer">

    <div class="acknowledgement">
        <p>
            The B.C. Public Service acknowledges the territories of First Nations
            around B.C. and is grateful to carry out our work on these lands.
            We acknowledge the rights, interests, priorities, and concerns of all
            Indigenous Peoples, First Nations, Métis, and Inuit, respecting and
            acknowledging their distinct cultures, histories, rights, laws, and
            governments.
        </p>
    </div>

    <div class="copyright">
        © 2024 Province of British Columbia
    </div>

</footer>